* {}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

#banner {
    background-image: url(./assets/Hero-bg.png);
    height: 450px;
    /* max-height: 450px; */
}

.banner_item,
.why_web_dev,
.my_inspiration,
.current_terget_text {
    text-align: center;
}

.banner_item h1 {
    font-size: 30px;
    font-weight: 800;
}

.banner_item button {
    padding: 10px 20px;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}

/* banner section style end */

/* start why web development style  */
.web_dev_cards {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3em;
}

.wev_dev_card {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 45px;
    align-items: center;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    /* background-color: gold; */
}

.why_web_dev {
    background-color: #f7f8f9;
    padding: 15px;
}

.web_dev_btn,
.html_documentation {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 600;

}

.text_align {
    text-align: left;
}

.card2_reverse {
    display: flex;
    flex-direction: row-reverse;
}


/* end why web development style  */

/* start inspiration video style */
.inspiration_video {
    display: flex;
    gap: 30px;
    margin: 20px 0;

}

.video {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 2px 1px gray;
}

/* end inspiration video style */

/* start my current target section style*/
.current_target_items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.current_target_item {
    background-color: #f1e9e8;
    padding: 2em;
    border-radius: 5px;
}

.item_2 {
    background-color: #e0f3f8;
}

.item_3 {
    background-color: #e8ebb2;
}

/* end my current target section style*/